{% extends "layout.html" %}
{% block content %}
    <br>
    <div class="row col-12">
        <div class="col-6" style="padding-left: 170px;">
            <img src="https://res.cloudinary.com/dtof5iegj/image/upload/v1744229871/09_yvrxr8.webp" alt="">
        </div>
        <div class="col-6">
            <br>
            <h2>About Us</h2>
            <br>
            <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mentoroid was incepted in the year 2025 with an aim to provide innovative, quality and cost effective solutions to the clients. We believe that the three strengths of any organization are its People, latest Technology and third the most important being the Clients.</p>
            <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These three if maintained well they give a competitive edge to an organization and at Mentoroid we nurture each one of them.We are in business for more than a decade and today we have a team of professionals who are expert in almost all the languages. We have state-of-the-art infrastructure and are equipped with all the required authentic softwares'.</p>
        </div>
    </div>
    <div class="row col-12" style="padding-left: 30px;">
        <div class="col-6">
            <br>
            <h2>Our Vision</h2>
            <br>
            <h5>A better future starts here</h5>
            <p style="text-align: justify;">To earn global admiration as a software & web development company, by building and maintaining long lasting relationship with people and technology along with the fabrication of functional softwares' and excellent services.</p>
            <h5>A Classical Education for the future</h5>
            <p style="text-align: justify;">we ensure that the solutions so developed are best in quality, dynamic and secure. We also provide Intellectual property right protection to our customers.</p>
            <h5>A Journey to Excellence</h5>
            <p style="text-align: justify;">Being a custom Software Application Development company, Mentoroid works in harmony with the clients to comprehend their business and processes and accordingly suggests the appropriate software solutions.</p>
        </div>
        <div class="col-6" style="padding-left: 170px;">
            <img src="https://res.cloudinary.com/dtof5iegj/image/upload/v1744223429/12_cr1r6m.jpg" alt="" style="height: 500px;width: 500px;">
        </div>
    </div>
    <br>
{% endblock content %}