{% extends "layout.html" %}
{% block content %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner" style="width: 100%; height: 650px; padding-bottom: 40%" align="center">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/16.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/17.jpg') }}" class="d-block w-100" style="width: 100%; height: 650px; padding-top: 0%" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/06.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <div class="row col-12">
        <div class="col-md-6" style="padding-left: 170px;">
            <img src="{{ url_for('static', filename='images/09.webp') }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-6">
            <br>
            <br>
            <br>
            <h2>About Us</h2>
            <br>
            <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mentoroid was incepted in the year 2025 with an aim to provide innovative, quality, and cost-effective solutions to the clients. We believe that the three strengths of any organization are its People, latest Technology and the Clients.</p>
            <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These three if maintained well give a competitive edge to an organization and at Mentoroid we nurture each one of them. We are in business for more than a decade and today we have a team of professionals who are experts in almost all the languages. We have state-of-the-art infrastructure and are equipped with all the required authentic software.</p>
        </div>
    </div>
    <br>
{% endblock content %}