{% extends "layout.html" %}
{% block content %}
    <div class="col-12 row">
        <div class="col-6" style="padding-left: 100px;">
            <img src="{{ url_for('static', filename='images/02.jpg') }}" class="img-fluid" alt="Register" style="height: 580px; width: 580px;">
        </div>
        <div class="container col-4" style="margin-top: 130px;" align="center">
            <div class="card" style="width: 400px;">
                <h3 class="card-header bg-success text-white">Mentor Login</h3>
                <div class="card-body">
                    <form id="loginForm", method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="input-group">
                            <input type="text" id="email" class="form-control" placeholder="Email" name="email" aria-label="Email" required>
                            <span class="input-group-text bg-primary"><i class="bi bi-person-fill text-white"></i></span>
                        </div>
                        <br>
                        <div class="input-group">
                            <input type="password" id="password" class="form-control" placeholder="Password" name="password" aria-label="Password" required>
                            <span class="input-group-text bg-primary"><i class="bi bi-lock-fill text-white"></i></span>
                        </div>
                        <br>
                        <div style="padding-top: 5px;">
                            <input class="btn btn-success" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- <script>
        document.getElementById("loginForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            // var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            if (email && password) {
                Swal.fire({
                    icon: 'success',
                    title: 'Login Successful',
                    text: 'Welcome, ' + email + '!'
                });
            } else {
                var errorMessage = 'Please ensure the following:\n';
                if (!email) {
                    errorMessage += ' - Username is required\n';
                }
                if (!passwordPattern.test(password)) {
                    errorMessage += ' - Password must be at least 8 characters long, include one uppercase letter, one number, and one special character\n';
                }
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Input',
                    text: errorMessage
                });
            }
        });
    </script> -->
{% endblock content %}
