{% extends "layout.html" %}
{% block content %}
    <main class="container" style="max-width: 1200px; padding-left: 100px; padding-right: 100px;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h4 font-weight-semibold mb-4 text-center">All Courses</h2>  <!-- Centered Heading -->
                <div class="input-group mb-4">
                    <input type="text" class="form-control" name="search" id="search_course" placeholder="Search for anything">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="searchCourse()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    {% if session.get('search_item') %}
                        {% for course in courses %}
                        <div class="col-md-4 mb-4">
                            <div class="card card-custom border-primary" style="background-color: rgb({{np.randint(100, 256)}}, {{np.randint(170,256)}}, {{np.randint(180,256)}});">
                                <img alt="Image for Course 1" class="card-img-top" height="150"
                                    src="{{ course.course_image }}"
                                    width="300" />
                                <div class="card-body">
                                    <h5 class="card-title" id="coursename" name="coursename">{{ course.course_name }}</h5>
                                    <p class="card-text">• {{ course.summary }}</p>
                                    {% if course.course_name in enrolled_courses %}
                                        <p class="btn btn-dark">Enrolled</p>
                                    {% else %}
                                        <a href="{{ url_for('enroll', coursename=course.course_name) }}" class="btn btn-dark" onclick="getEnrollingCourse()">Enroll</a>
                                    {% endif %}                                
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for course in courses.objects.all() %}
                        <div class="col-md-4 mb-4">
                            <div class="card card-custom border-primary" style="background-color: rgb({{np.randint(100, 256)}}, {{np.randint(170,256)}}, {{np.randint(180,256)}});">
                                <img alt="Image for Course 1" class="card-img-top" height="150"
                                    src="{{ course.course_image }}"
                                    width="300" />
                                <div class="card-body">
                                    <h5 class="card-title" id="coursename" name="coursename">{{ course.course_name }}</h5>
                                    <p class="card-text">{{ course.summary }}</p>
                                    {% if course.course_name in enrolled_courses %}
                                        <p class="btn btn-dark">Enrolled</p>
                                    {% else %}
                                        <a href="{{ url_for('enroll', coursename=course.course_name) }}" class="btn btn-dark" onclick="getEnrollingCourse()">Enroll</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script>
        function searchCourse() {
            const query = document.getElementById('search_course').value;
            window.location.href = `/search?search=${encodeURIComponent(query)}`;
        }
    </script>
{% endblock content %}
